@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: blanchedalmond;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

header li {
    padding: 15px;
    list-style: none;
    float: left;  
}

a {
    color: blanchedalmond;
    text-align: center;
}

h2, h3 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.avatar {
    max-width: 300px;
    align-content: center;
    display: block;
    padding: 0px;
    width: 100%;
    height: auto;
    margin: auto;
}

.avatar img{
    border-radius: 50%;
    border: solid 4px;
    border-color: darkorange;
    width: 100%;
}

.social {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    align-items: center;
}

.social h3, .social_link{
    width: 100%;
}

.social .social_link li{
    align-content: center;
    list-style: none;
}

.social .social_link a {
    color: darkorange;
    text-decoration: none;
}
