@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    color: blanchedalmond;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

header li {
    padding: 15px;
    list-style: none;
    float: left;  
}

header li a {
    color: blanchedalmond;
    text-align: center;
}

h2, h3 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.avatar {
    max-width: 300px;
    align-content: center;
    display: block;
    padding: 0px;
    width: 100%;
    height: auto;
    margin: auto;
}

.avatar img{
    border-radius: 50%;
    border: solid 4px;
    border-color: orange;
    opacity: 70%;
    width: 100%;
}

.avatar img:hover{
    border-color: darkorange;
    opacity: 100%;
}

.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.social h3{
    width: 100%;
}

.social div ul {
    display: flex;
    padding: 0px;
}

.social div ul li{
    list-style: none;
    
}

.social ul a {
    color: orange;
    text-decoration: none;
    margin: 16px;
}

.social ul a:hover {
    color: darkorange;
    text-decoration: underline;
}
